{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "mocha": true
  },
  "rules": {
    "comma-dangle": ["error", "only-multiline"],
    "no-underscore-dangle": "off",
    "max-len": ["error", { "code": 150 }],
    "prefer-destructuring": "off",
    "no-use-before-define": "off",
    "no-param-reassign": "off"
  }
}
